*.user
*.html
*.obj
*.Release
*.stash
*.Debug
*.cmake
*.make
*.dll
*.rsp
*.a
*.d
*.o
*.js
Makefile
build
install
out
yjson
CMakeCache.txt
compile_commands.json
CMakeSettings.json
.clangd
# .vscode
.cache
.vs
.xmake
.luarc.json
