QMenu{
    border-radius: 4px;
    background-color: rgba(192,192,192,150);
    color: black;
}

QMenu::item{
    background-color:transparent;
}

QMenu::item:selected{
    background-color:white;
}
