QWidget#center {
  background-color: #33333377;
  border-radius: 2px;
}

QLabel#memUse {
  width: 26px;
  color: #00FFFF;
  font-size: 17pt;
  font-family: Carattere;
  font-weight: bold;
  padding-left: 1px;
}

QLabel#netUp {
  color: #FAAA23;
  font-family: Nickainley;
  font-weight: bold;
  margin-left: 1px;
}

QLabel#netDown {
  color: #8CF01E;
  font-family: Nickainley;
  font-weight: bold;
  margin-left: 1px;
}

QMenu {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}

QMenu::item {
  border-radius: 3px;
  font-size: 10pt;
  color: black;
  padding: 4px 20px 4px 10px;
  margin: 2px 1px;
}

QMenu::item::selected {
  background-color: rgb(236, 236, 236);
}

QPushButton#copyTextTo,
QPushButton#copyTextFrom {
  background-color: #9999AA;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px 8px;
  font-size: 12px;
}

QPushButton#btnTransMode::unchecked {
  border-radius: 2px;
  background-color: white;
}

QPushButton#btnTransMode::checked {
  border-radius: 2px;
  background-color: rgb(50, 150, 200);
}

QPushButton#btnTransMode:hover {
  border-radius: 2px;
  background-color: rgb(50, 150, 200);
}

