#include <windows.h>

IDI_ICON1	ICON	"C:\\Users\\yjmthu\\Documents\\GitHub\\Speed-Box\\src\\icons\\speedbox.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 21,11,13,0
	PRODUCTVERSION 21,11,13,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE VFT2_UNKNOWN
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "080404b0"
			BEGIN
				VALUE "CompanyName", "\0"
				VALUE "FileDescription", "Speed Box\0"
				VALUE "FileVersion", "21.11.13.0\0"
				VALUE "LegalCopyright", "Copyright (C) 2021\0"
				VALUE "OriginalFilename", "SpeedBox.exe\0"
				VALUE "ProductName", "Speed Box\0"
				VALUE "ProductVersion", "21.11.13.0\0"
				VALUE "InternalName", "\0"
				VALUE "Comments", "\0"
				VALUE "LegalTrademarks", "\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0804, 1200
		END
	END
/* End of Version info */

