QMenu{
    border-radius:4px;
    background-color: rgba(192,192,192,150);
    color: black;
}

QMenu::item{
    background-color: transparent;
    padding: 8px 5px;
}

QMenu::item:selected{
    background-color: white;
    border-radius: 4px;
    padding: 8px 5px;
}
