[Desktop Entry]
Comment[en_US]=
Comment[zh_CN]=
Exec= speedbox_path
GenericName[en_US]=
GenericName=
GenericName[zh_CN]=SpeedBox
MimeType=text/html;image/webp;application/xml;
Name[en_US]=SpeedBox
Name=SpeedBox
Name[zh_CN]=SpeedBox
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Deepin-AppID=SpeedBox
X-Deepin-CreatedBy=com.deepin.dde.daemon.Launcher
X-KDE-SubstituteUID=false
X-KDE-Username=
